<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SONG'S DAILY</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css(ver=${#temporals.createNow()})}" />
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/general.css(ver=1)}" />-->
    <script type="text/javascript" th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <!--<script layout:fragment="script"></script>-->
</head>
<body>
    <div class="wrapper">
        <header th:replace="~{fragments/header :: headerPC}"></header>
        <!--<nav th:replace="~{fragments/nav :: navPC}"></nav>-->
        <main layout:fragment="PCmain"></main>
        <!--<th:block layout:fragment="PCmain"></th:block>-->
    </div>
    <footer th:replace="~{fragments/footer :: footerPC}"></footer>
</body>
</html>