<!DOCTYPE html>
<html lang="ko">
<footer th:fragment="footerPC" id="pc_footer">
    <div id="pc_f_logo">
        <span class="footer-logo">SONG'S DAILY</span>
    </div>
    <div id="pc_f_profile">
        <div id="pc_f_profile_info">
            <span id="footer-name">SONG JOO REE</span>
            <a href="#">
                <span class="footer-github">SONG JOO REE</span>
            </a>
            <a href="#">
                <span class="footer-instagram">SONG JOO REE</span>
            </a>
            <a href="#">
                <span class="footer-email">SONG JOO REE</span>
            </a>
        </div>
    </div>
    <div id="pc_f_line"></div>
    <div id="pc_f_nav">
        <a href="#">
            <span class="footer-question">문의사항</span>
        </a>
        <a href="#">
            <span class="footer-faq">FAQ</span>
        </a>
        <a href="#">
            <span class="footer-memberRule">회원약관</span>
        </a>
        <a href="#">
            <span class="footer-guide">이용안내</span>
        </a>
    </div>
</footer>
<footer th:fragment="footerTablet" id="tb_footer">
    푸터 타블렛 파트입니다
</footer>
<footer th:fragment="footerMobile" id="mb_footer">
    푸터 모바일 파트입니다
</footer>
</html>