<!DOCTYPE html>
<html lang="ko">
<nav th:fragment="navPC" id="pc_nav">
    <div id="pc_n_flex">
        <ul id="pc_g_list">
            <li class="nav-li header-nav1"><a href="#"><span>
                        PORTFOLIO
                    </span></a>
            </li>
            <li class="nav-li header-nav2"><a href="#"><span>
                        LOGIN
                    </span></a>
            </li>
            <li class="nav-li header-nav3">
                <a href="#"><span>
                        STUDY
                </span></a>
            </li>
        </ul>
    </div>
</nav>
<header th:fragment="headerTablet" id="tb_nav">
    <div id="tb_n_flex">
        <ul id="tb_g_list">
            <li class="nav-li header-nav1"><a href="#"><span>
                        PORTFOLIO
                    </span></a>
            </li>
            <li class="nav-li header-nav2"><a href="#"><span>
                        LOGIN
                    </span></a>
            </li>
            <li class="nav-li header-nav3">
                <a href="#"><span>
                        STUDY
                </span></a>
            </li>
        </ul>
    </div>
</header>
<header th:fragment="headerMobile" id="mb_nav">
    <div id="mb_n_flex">
        <ul id="mb_g_list">
            <li class="nav-li header-nav1"><a href="#"><span>
                        PORTFOLIO
                    </span></a>
            </li>
            <li class="nav-li header-nav2"><a href="#"><span>
                        LOGIN
                    </span></a>
            </li>
            <li class="nav-li header-nav3">
                <a href="#"><span>
                        STUDY
                </span></a>
            </li>
        </ul>
    </div>
</header>
</html>