@charset "utf-8";
@use "./utility" as utility;



// pc, tablet, mobile layout 구분
@mixin pc-css{
  @media (min-width: 1241px){
    body{
      @include utility.w-p100;
      @content; // 추가적으로 넣을 것들 넣는 곳
    }
  }
}

@mixin pc-h-css{
  @include utility.wh-p(100%, 10.8vh);
  @include utility.fn-position-with-top-args(fixed, 0);
  @content;
}
@mixin pc-m-css{
  @include utility.w-p100;
/*  @include utility.fn-space-with-three-args(margin, top, 12vh);
  @include utility.fn-space-with-three-args(margin, bottom, 12vh);*/
  @content;
}
@mixin pc-f-css{
  @include utility.w-p100;
  transform: translateY(-100%);
  @content;
}

@mixin tb-css{
  @media (max-width: 1240px){
    body{
      @include utility.wh-p(100%, 20%);
      @content; // 추가적으로 넣을 것들 넣는 곳
    }
  }
}
@mixin tb-h-css{
  @include utility.w-p100;
  @content;
}
@mixin tb-m-css{
  @include utility.w-p100;
  @content;
}
@mixin tb-f-css{
  @include utility.w-p100;
  @content;
}

@mixin mb-css{
  @media (max-width: 480px){
    body{
      @include utility.wh-p100;
      @content; // 추가적으로 넣을 것들 넣는 곳
    }
  }
}
@mixin mb-h-css{
  @include utility.w-p100;
  @content;
}
@mixin mb-m-css{
  @include utility.w-p100;
  @content;
}
@mixin mb-f-css{
  @include utility.w-p100;
  @content;
}


@mixin scroll {
  &::-webkit-scrollbar {
    width: 4px;
    background: none;
  }
  &::-webkit-scrollbar-thumb {
    width: 4px;
    border-radius: 60px;
    background: rgba(153, 153, 153, 0.3);
  }
}

@mixin row-scroll {
  overflow: auto;
  padding-bottom: 10px;

  &::-webkit-scrollbar {
    height: 4px;
    background: none;
  }
  &::-webkit-scrollbar-thumb {
    height: 4px;
    border-radius: 60px;
    background: rgba(153, 153, 153, 0.3);
  }
}