<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_pc}">

<main id="pc_main" layout:fragment="PCmain">
    <article>
<!--        <section id="main-section-title">
            <h1 id="main-heading">main page</h1>
        </section>-->
        <section id="main-section-cont1">
            <div id="main-div-box1"></div>
            <article id="main-article1">
                <h2 id="main-article-h1">How about her story?</h2>
                <p>
                    Who is she?<br />
                    What did she do?<br />
                    Where she was from?<br />
                    When did she do?<br />
                    Why does she keep study?<br />
                    Which one she likes?<br />
                </p>
            </article>
        </section>
        <section id="main-section-cont2">
            <article id="main-article2">
                <h2 id="main-article-h2">Story of her study</h2>
                <p>
                    Which one you interested in?<br />
                    Have some information here.<br />
                    Much as you enjoy.<br />
                    Knowledge is keep increasing.
                </p>
            </article>
            <div id="main-div-box2"></div>
        </section>
    </article>
</main>
</html>